
//color
$color-dark-1: #181818;
$color-dark-2: #191919;
$color-purple-1: #b61984;
$color-white-1: #fff;



//font size
$fs-1: 13px;
$fs-2: 1.1rem;
$fs-3: 3.8rem;
$fs-4: 0.75rem;
$fs-5: 0.85rem;
$fs-6: 0.8rem;



//Padding
$pd-1: 50px;
$pd-2: 1.1em;
$pd-3: 1.5em;
$pdr-1: 1em;
$pdl-1:0.8em;
$pdt:60px;
//Margin
$mg-1: 1em;
$mg-2: 6px;
$mg-3: 0.5em;



//font weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 500;
$fw-4: 700;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;


//border
$bd-1: 2px;
$bd-2: 8px;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px
);